<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Madereira">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:label="Login"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name=".activity.ListaProdutosActivity"
            android:exported="false"
            android:label="Inventário de Produtos"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name=".activity.ProdutoActivity"
            android:exported="false"
            android:label="Produto"
            android:parentActivityName=".activity.ListaProdutosActivity" />

        <activity
            android:name=".activity.UsuariosActivity"
            android:exported="false"
            android:label="Usuários"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name=".activity.ListaUsuariosActivity"
            android:exported="false"
            android:label="Lista de Usuários"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name=".activity.ListaCategoriasActivity"
            android:exported="false"
            android:label="Categorias"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name=".activity.CategoriaActivity"
            android:exported="false"
            android:label="Categoria"
            android:parentActivityName=".activity.ListaCategoriasActivity" />

        <activity
            android:name=".activity.ListaStatusActivity"
            android:exported="false"
            android:label="Status"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name=".activity.StatusActivity"
            android:exported="false"
            android:label="Status"
            android:parentActivityName=".activity.ListaStatusActivity" />
    </application>

</manifest>